<div class="modal-body">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form class="form" role="form">
        <div *ngIf="show ;then thenBlock; else elseBlock">
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #thenBlock>
  <div class="row justify-content-center">
    <div class="col-md-6" style="padding:50px;">
      <form class="form" role="form" #resetForm="ngForm">
        <h1 style="text-align: center;color: blue">{{'resetpassword'|translate}}
          <hr/>
        </h1>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input type="text" placeholder="E-mail" class="form-control" name="username" id="E-mail" [(ngModel)]="model.email" required app-validate
            email pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$">
        </div>
        <br/>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <input type="password" placeholder="{{'password'|translate}}" class="form-control" name="password" id="{{'password'|translate}}"
            minlength="6" maxlength="50" [(ngModel)]="model.password" required app-validate>
        </div>
        <br/>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <input type="password" placeholder="{{'repassword'|translate}}" class="form-control" name="repassword" id="{{'repassword'|translate}}"
            minlength="6" maxlength="50" [(ngModel)]="model.repassword" required app-validate>
        </div>
        <br/>
        <h4 style="text-align: center">
          <button class="btn btn-success" (click)="changePasswordEvent() " [disabled]="resetForm.invalid">
            <i class="fa fa-share-square"></i> {{'send'|translate}}</button>
          <button class=" btn btn-primary " (click)="returnEvent() ">
            <i class="fa fa-reply"></i> {{'cancel'|translate}}</button>
        </h4>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #elseBlock>
  <a>Link is not correct</a>
</ng-template>